
font-family: 'Exo 2', sans-serif;
font-family: 'PT Sans', sans-serif;
/*BASIC SETTINGS*/
*{
	box-sizing: border-box;
   
}
body, div, h1,h2, h3, h4, h5, h6, p,ul{
  margin: 0;
  padding: 0;
}

html,body{
	background-color: #fbe0c4; 
    font-size: 62.5%;
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}
img{
  max-width: 100%;
  margin: 1.2rem 0.2rem 1.2rem;
  height: auto;
  vertical-align: middle;
}

/*ICONS*/
.fa {
  padding: 1.25rem;
  font-size: 5rem;
  width: 6.25rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  height:6.25rem;
  justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.social-media1, .social-media2, .social-media3{
  margin: 0 auto;
  padding-top:2rem;
  padding-bottom: 3rem;

}
.fa-instagram{
  background: #125688;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}


/*TEXT*/
 p {
    font: 400 1.8rem/2rem 'PT Sans';
    text-align: center;
    color:black;

  }
.title{
    font:700 4rem/3.2rem 'Exo 2';
}
.title{
  margin-top: 5%; 
  padding:2rem;

}
.type-art, .media{
    padding:1rem;
    font: 400 2.5rem/2.7rem 'Exo 2';
}
.description{
    padding: 1rem;
    
}
.media p{
    text-align: center;
    padding: 0.8rem;
}

/* NAVBAR */

.nav{
    font:200 2.5rem/4rem 'Exo 2';
}


.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 13;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-weight:700;  
    font-family: 'Exo 2';
}

.nav div.logo a:hover {
    color: #000000;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #000000;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(images/landing-page-hero.png);
    background-position: center top;
	background-size:contain;
	
}


.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(138, 185, 214,0.4);
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #2978b5;  
}






.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 0.8rem;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

/*WORK*/
.work{
	margin:0 auto;
	display: grid;
	background-color: #8ab6d6;
	
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	'project1'
	'project2'
	'project3'
	'project4'
	'project5'
}

 
.project1, .project2, .project3, .project4, .project5 {
	padding: 2rem !important;
    /*border:solid 1px white;*/
}

.project1 {
	grid-area: project1;
}
	
.project2 {
	grid-area: project2;
	
}
.project3 {
	grid-area: project3;
	
}
.project4{
	grid-area: project4;
	
}
.project5 {
	grid-area: project5;
	
}

/*ABOUT*/
.about{
	margin:0 auto;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 
	'heading1-about'
	'image-about'
	'description-about'
	
}

.heading1-about, .image-about, .description-about{
	/*border:solid 1px white;*/
	padding:2rem;
}

.heading1-about{
	grid-area: heading1-about;
  color:#8ab6d6;
    
}
.image-about{
	grid-area: image-about;
    margin-top: -7%;
}
.description-about{
	grid-area: description-about;
    margin-top: -8%;
    margin-bottom: 1%;
}



/*CONTACT*/
.contact{
	margin:0 auto;
	display: grid;
	background-color: #8ab6d6;
	
	text-align: center;
	grid-template-columns: repeat(12,1fr);

}

.heading2-contact, .form-wrapper, .social-media{
	/*border:solid 1px white;*/
	padding:2rem;
}

.heading2-contact{
	grid-area: heading2-contact;
    grid-column: 1/13;
    grid-row: 1;
    margin-bottom: -10%;
}
.form-wrapper{
	grid-area: form-wrapper;
    grid-column: 1/13;
    grid-row: 2;
}
.social-media1{
	grid-area: social-media1;
    grid-column: 1/4;
    grid-row: 3;
}
.social-media2{
    grid-area: social-media2;
    grid-column: 5/9;
    grid-row: 3;
}
.social-media3{
    grid-area: social-media3;
    grid-column: 10/13;
    grid-row: 3;
}

/*CONTACT FORM*/
section {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}
.contain {
  /*width: 40rem;*/
  max-width: none;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 1.125rem #00000010;
  background-color: transparent;
  border-radius: 0.5rem;
  margin-bottom: 1.125rem;
}
.form-group {
  width: 100%;
  margin-top: 1.125rem;
  font-size: 1.125rem;
   font-family: 'PT Sans';
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.3125rem;
  font-size: 1rem;
  border: 0.0625rem solid rgba(128, 128, 128, 0.199);
  margin-top: 0.3125rem;
  font-family: 'PT Sans';
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 50%;
  border: none;
  outline: none;
  padding: 1.125rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  font-family: 'PT Sans';
  color: #2978b5;
  text-align: center;
  cursor: pointer;
  margin-top: 0.625rem;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: #0061a8;
  color: white;
  font-family: 'PT Sans';
}
#status {
  width: 90%;
  max-width: 100%;
  text-align: center;
  padding: 0.625rem;
  margin: 0 auto;
  border-radius: 0.5rem;
}
#status.success {
  background-color: #2978b5;
  animation: status 4s ease forwards;
  font: 400 1.2rem/1.4rem 'PT Sans';
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}

@media screen and (min-width: 760px) and (max-width: 992px){

  /* ABOUT*/
  .heading1-about{
    margin-bottom: 5%;
  }
  .description-about{
    margin-top:-4%;
  }

  /* CONTACT*/
  .heading2-contact{
    margin-bottom: 0%;
    padding: 1rem;
  }
}


@media screen and (min-width:992px) {
   body{
    background-color: white;
  }
p {
    font: 200 1.8rem/2rem 'PT Sans';
  }
.title{
    font:900 6rem/6.2rem 'Exo 2';
}



/*WORK*/
.work{
	margin:0 auto;
	display: grid;
    padding: 2rem;
	text-align: center;
	height: 100rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	grid-template-columns: repeat(12,1fr);
}

img{
	max-width: 100%;
}

.project1{
	 grid-column: 5/9;
	 grid-row: 1;
     
}
.project2{
	 grid-column: 7/13;
     grid-row: 1;
     align-self: flex-start;
     margin-top: 12%;
     text-align: end;
}
.project3{
	   grid-column: 2/7;
       grid-row: 1;
       align-self: flex-start;  
       margin-top: 12%;
}

.project3 img{
	    
}
.project4{
	 grid-column: 1/6;
	 grid-row: 1;
      align-self: end;
       margin-bottom: 12%; 
}
.project5{
	 grid-column: 7/12;
     grid-row: 1;
      align-self: flex-end;
      margin-bottom: 12%;
}

/*ABOUT*/
.about{
    margin:0 auto;
    display: grid;
    
    grid-gap: 1.2rem;
    padding-top: 2rem;
    text-align: center;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'heading1-about . .'
    '. image-about .'
    '. . description-about'
    
}
.heading1-about{
   
    
     grid-column: 3/7;
     grid-row: 1;
     height: 25vh;
     z-index: 2;
}
.image-about{
    grid-column: 5/9;
    grid-row: 1;
    z-index: 1;
}
.description-about{

  background-color: #8ab6d6;
    grid-column: 7/11;
    grid-row: 1;
    height: 6vw;
    align-self: flex-end;
    z-index: 2;
     align-items: center;
  justify-content: center;
  flex-direction: column;
   display: flex;
}
.description-about p{
    align-self: center;
    font: 200 1.8rem/2rem 'PT Sans' !important;
}

/*CONTACT*/
.contact{
    margin:0 auto;
    display: grid;
    background-color: white;
    
    text-align: center;
    grid-template-columns: repeat(12,1fr);
    
}

.form-wrapper{
    grid-column: 1/8;
    grid-row: 1;
    background-color: #8ab6d6;  
}
.heading2-contact{
    grid-column: 6/12;
    grid-row: 1;
    z-index: 12;
    margin-top:15%;
   color: #2978b5;
    height: 20vh;
}

.social-media1, .social-media2, .social-media3{
    width: 90%;
    margin-top: 200%;
}
.social-media1{
     grid-column: 8/9;
    grid-row: 1;
}
.social-media2{
     grid-column: 10/11;
    grid-row: 1;
}
.social-media3{
     grid-column: 12/13;
    grid-row: 1;
}

.home{
  height: 100vh !important;
}
/*CONTACT FORM*/
.contain {
  width: 50rem !important;
}

}

@media screen and (min-width: 340px){
  .contain{
    width:28rem;
  }
  .home{
    height: 70vh;
    background-position: center;
    background-size: contain;
  }

}




/*PROJECT PAGES*/
.pro-pos, .type-art, .description, .media{
    /*border:1px solid red;*/
}
.pro-pos{
  color:#8ab6d6;
}

.hero-img{
    width: 100%;
    height: 100vh;
    background-image: url(images/badbunny-hero.png);
    background-position:center;
    background-size:cover;
}

.hero-img1{
   width: 100%;
    height: 100vh;
    background-image: url(images/cookbook-hero.png);
    background-position:center ;
    background-size:cover;
}
.hero-img2{
   width: 100%;
    height: 100vh;
    background-image: url(images/mail-art-hero.png);
    background-position:center top;
    background-size:cover;
}
.hero-img3{
     width: 100%;
    height: 100vh;
    background-image: url(images/documentary-hero.png);
    background-position:center;
    background-size:cover;
}
.hero-img4{
  width: 100%;
    height: 100vh;
    background-image: url(images/biography-hero.png);
    background-position:center;
    background-size:cover;
}



.projct{
    margin:0 auto;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'work2'
    'details'
}

.work2{
    grid-area: work2;
}
.details{
    grid-area: details;
    background-color: #8ab6d6;

}
.type-art, .media{
  color:#2978b5;
}

/*Cookbook*/
.shadow{
  filter: drop-shadow(0.625rem 0.625rem 0.25rem rgba(0,0,0,0.3));
  z-index: 1;
}
.description2, .description3{
  z-index: 2;
}
.description2, .description3{
     
      background-color: #2978b5;
      
    }
    .description2 p, .description3 p{
      color:white;
    }
    .description-web2, .description-web3{
     
      background-color: white;
      
    }
    .description-web2 p, .description-web3 p{
      color:#2978b5;
    }
    .bio{
      background-color: #2978b5 !important;
    }
    .bio p {
      color: white !important;
    }
  .media a{
    text-decoration: none;
    color: crimson;
  }


@media screen and (min-width: 340px) and (max-width: 992px){
  .description p, .description2 p, .description3 p {
    padding:1.2rem;

  }
 .description-web2 p, .description-web3 p {
    padding:1.2rem;

  }
  .details {
    background-color: inherit;
  }
  .description2 p, .description3 p{
    padding-top:2rem;
    padding-bottom: 2rem;
  }
  .description-web2 p, .description-web3 p{
    padding-top:2rem;
    padding-bottom: 2rem;
  }

  .prImg img{
    max-width: 98%;
  }
}

@media screen and (min-width:992px) {

    p {
    font: 200 1.3rem/1.5rem 'PT Sans';
  }
.title{
    font:900 6rem/6.2rem 'Exo 2';
}

.prImg img{
  max-width: 95%;
}


    .work2{
        margin:0 auto;
    display: grid;
        text-align: left;
    
  align-items: center;
  justify-content: center;
  flex-direction: column;
    grid-template-columns: repeat(12,1fr);
    padding-bottom: 3rem;
    }

    .pro-pos{
        grid-column: 2/8;
        grid-row: 1;
    }
    .pro-pos{
        padding:1rem;
    }
    .type-art{
        grid-column: 2/6;
        grid-row: 2;
    }
    .description{
        grid-column: 2/8;
        grid-row: 3;
    }
    .description p{
      text-align: left;
    }
    .description2{
       grid-column: 7/12;
        grid-row: 1;
    }
    .description3{
       grid-column: 2/7;
        grid-row: 2;
    }

    .description2, .description3{
      margin-bottom: 1.20rem;
      padding: 1.875rem;
      background-color: #2978b5;
      color:white;
      
      width: 41.125rem;
      justify-self: center;
    }
    .description-web2, .description-web3{
      margin-bottom: 1.20rem;
      padding: 1.875rem;
      /*background-color: #2978b5;*/
      /*color:white;*/
      
      width: 41.125rem;
      justify-self: center;
    }
    .description2 p, .description3 p{
      color:white;
    }
    .description-web2 p, .description-web3 p{
      /*color: white;*/
    }
     .bio{
      background-color: #2978b5 !important;
    }
    .bio p {
      color: white !important;
    }
    .media{
        grid-column: 2/6;
        grid-row: 4;
    }
    .media p{
        text-align: left;
        padding:0.1rem;
    }
    .details{
        margin:0;
    display: grid;
        text-align: center;
    grid-gap: 1rem;
  align-items: end;
  justify-content: center;
  flex-direction: column;
    grid-template-columns: repeat(12,1fr);
    padding: 3rem;
    }

   
    .d-img1{
        grid-column: 2/8;
        grid-row: 1;
    }
    .d-img2{
        grid-column: 6/12;
        grid-row: 2;
    }
    .d-img3{
        grid-column: 2/7;
        grid-row: 3;
    }
    .d-img4{
        grid-column: 7/12;
        grid-row: 3;
    }

    /*COOKBOOK*/
    .drawing1{
      grid-column: 2/4;
      grid-row: 3;
    }
    .drawing2{
      grid-column: 6/8;
      grid-row: 3;
    }
    .drawing3{
      grid-column: 10/12;
      grid-row: 3;
    }
    .drawing4{
      grid-column: 2/4;
      grid-row: 4;
    }
    .drawing5{
      grid-column: 6/8;
      grid-row: 4;
    }
    .drawing6{
      grid-column: 10/12;
      grid-row: 4;
    }
    .drawing7{
      grid-column: 5/9;
      grid-row: 5;
    }


    .nd-drawing1{
      grid-column: 2/4;
      grid-row: 6;
    }
    .nd-drawing2{
      grid-column: 6/8;
      grid-row: 6;
    }
    .nd-drawing3{
      grid-column: 10/12;
      grid-row: 6;
    }
    .nd-drawing4{
      grid-column: 2/4;
      grid-row: 7;
    }
    .nd-drawing5{
      grid-column: 6/8;
      grid-row: 7;
    }
    .nd-drawing6{
      grid-column: 10/12;
      grid-row: 7;
    }
    .nd-drawing7{
      grid-column: 2/4;
      grid-row: 8;
    }
    .nd-drawing8{
      grid-column: 6/8;
      grid-row: 8;
    }
    .nd-drawing9{
      grid-column: 10/12;
      grid-row: 8;
    }
    .nd-drawing10{
      grid-column: 5/9;
      grid-row: 9;
    }


/*WEB(bio&doc)*/
.description-web2{
  grid-column: 8/12;
  grid-row: 1;
}
.description-web3{
  grid-column: 2/6;
  grid-row: 2;
}
.d-img5{
  grid-column: 2/7;
   grid-row: 4;
    }
.d-img6{
  grid-column: 7/12;
  grid-row: 4;
    }

.web-link{
  display: block;
  grid-column: 2/12;
  grid-row: 5;
}
.frame{
  width: 100%;
  height:37.5rem;

}

}
